body {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__main h1 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 22px;
  max-width: 380px;
  margin: 0;
}
.header__main-logo-content b {
  color: red;
  font-size: 24px;
}
.header__main-logo-content p {
  margin: 0;
  font-weight: bold;
}
.header__main-nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header__main-nav ul li {
  color: #ffffff;
  font-size: 18px;
  list-style-type: none;
  padding-left: 10px;
}
.header__main-nav ul button {
  margin-left: 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
}
.header__top-location {
  border-right: 1px solid white;
  padding-right: 10px;
}
.header__top-location p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.header__top-number {
  display: flex;
  align-items: center;
}
.header__top-number p {
  font-size: 13px;
  color: white;
  padding-right: 5px;
}
.header__top-information {
  padding: 0 10px;
  width: 47%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-information a {
  -webkit-text-decoration: no;
          text-decoration: no;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.header__top-socials {
  border-left: 1px solid white;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__top-socials a {
  text-decoration: none;
  padding-left: 20px;
}

header {
  background-image: url("/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.hero-section {
  background-image: url("/img/main-bg-1.jpg");
  height: 760px;
  background-repeat: no-repeat;
  background-size: 100vw;
}
.hero-section__wrapper {
  display: flex;
  align-items: center;
  height: 650px;
}
.hero-section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-section h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 98px;
  display: flex;
  align-items: center;
  letter-spacing: -3px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 9px;
}
.hero-section p {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 62px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-bottom: 20px;
}
.hero-section a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 2px;
  color: #2a93c9;
  background: #ffffff;
  border-radius: 4px;
  padding: 25px 32px;
}

.openning {
  display: flex;
  justify-content: space-around;
  border-bottom: 7px solid #6cc8df;
}
.openning__hours {
  min-width: 400px;
}
.openning__hours h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 44px;
  color: #2a93c9;
  padding-bottom: 14px;
}
.openning__hours-days {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.openning__hours-days h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1e2428;
}
.openning__hours-days p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #2a93c9;
}
.openning__doctors-timetable {
  min-width: 400px;
  padding: 0 30px;
}
.openning__doctors-timetable h2 {
  padding-bottom: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 44px;
  color: #2a93c9;
}
.openning__doctors-timetable p {
  padding-bottom: 15px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  max-width: 300px;
  color: #42474c;
}
.openning__doctors-timetable a {
  background: #ffffff;
  border: 1px solid #2a93c9;
  border-radius: 3px;
  padding: 16px 19.6562px 17px 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 2px;
  color: #2a93c9;
}
.openning__emergency-cases {
  min-width: 400px;
}
.openning__emergency-cases h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 44px;
  color: #2a93c9;
}
.openning__emergency-cases p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  max-width: 300px;
  color: #42474c;
}
.openning__emergency-cases-phone {
  display: flex;
  align-items: center;
}
.openning__emergency-cases-phone img {
  width: 70px;
  height: 70px;
}
.openning__emergency-cases-phone a {
  padding-left: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  color: #1e2428;
}

.services {
  padding-top: 60px;
}
.services h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 44px;
  color: #1e2428;
  padding-bottom: 15px;
}
.services span {
  display: inline-block;
  width: 65px;
  height: 2px;
  background-color: #56b0d2;
  margin-bottom: 30px;
}
.services__inside {
  display: flex;
  justify-content: space-between;
}
.services__content {
  max-width: 280px;
}
.services__content h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1e2428;
}
.services__content p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1e2428;
}

.about-clinic {
  height: 700px;
  margin-top: 60px;
}
.about-clinic-logo h2 {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.about-clinic-content h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
  padding-bottom: 34px;
}
.about-clinic-content p {
  max-width: 470px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  padding-bottom: 40px;
}
.about-clinic-content a {
  margin-top: 20px;
  padding: 23px 52px;
  letter-spacing: 2px;
  color: #2a93c9;
  background: #ffffff;
  border-radius: 4px;
}

.home-bg {
  background-image: url("/img/home-bg.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: top;
}

.departments {
  padding-top: 60px;
  padding-bottom: 60px;
}
.departments h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 44px;
  color: #1e2428;
  padding-bottom: 15px;
}
.departments span {
  display: inline-block;
  width: 65px;
  height: 2px;
  background-color: #56b0d2;
  margin-bottom: 30px;
}
.departments__content {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
}
.departments__content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.departments__content-card h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #1e2428;
}
.departments__content-card p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1e2428;
  max-width: 125px;
}

.doctor-bg {
  background-image: url("/img/doctor-section-bg.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  height: 512px;
}

.doctor-say-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.doctor-say-content img {
  padding-top: 60px;
}
.doctor-say-content p {
  max-width: 667px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  color: #2a93c9;
  padding: 54px 0;
}
.doctor-say-content h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #1e2428;
}
.doctor-say-content h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #1e2428;
}

.about-doctors {
  padding-top: 60px;
}
.about-doctors h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 44px;
  color: #1e2428;
  padding-bottom: 15px;
}
.about-doctors span {
  width: 65px;
  display: inline-block;
  height: 2px;
  background-color: #56b0d2;
}

.about-doctors-wrapper {
  display: flex;
  padding-top: 60px;
}

.about-doctors-card h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #1e2428;
  padding-bottom: 16px;
}
.about-doctors-card h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #c9c7d1;
}
.about-doctors-card p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #c9c7d1;
}

.footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  padding-top: 60px;
  padding-bottom: 75px;
}
.footer__logo h2 {
  display: flex;
  align-items: center;
}
.footer__logo h3 {
  padding-top: 34px;
  max-width: 300px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 29px;
}
.footer__departments {
  padding-top: 60px;
  padding-bottom: 75px;
}
.footer__departments h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}
.footer__departments li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 37px;
  color: #ffffff;
}
.footer__office {
  padding-top: 60px;
  padding-bottom: 75px;
}
.footer__office h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}
.footer__office p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  max-width: 208px;
  padding-bottom: 30px;
  color: #ffffff;
}
.footer__office p:nth-child(3) {
  max-width: 162px;
}
.footer__nav {
  padding-top: 60px;
  padding-bottom: 75px;
}
.footer__nav h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}
.footer__nav nav li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 37px;
  color: #ffffff;
  padding-bottom: 18px;
}

footer {
  background-color: #919ba6;
}/*# sourceMappingURL=mian.css.map */