.footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;

  &__logo {
    padding-top: 60px;
    padding-bottom: 75px;
    h2 {
      display: flex;
      align-items: center;
    }
    h3 {
      padding-top: 34px;
      max-width: 300px;
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #ffffff;
      line-height: 29px;
    }
  }

  &__departments {
    padding-top: 60px;
    padding-bottom: 75px;
    h2 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
      padding-bottom: 15px;
      border-bottom: 1px solid #ffffff;
    }
    li {
      font-family: "Lato";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 37px;
      color: #ffffff;
    }
  }

  &__office {
    padding-top: 60px;
    padding-bottom: 75px;

    h2 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
      padding-bottom: 15px;
      border-bottom: 1px solid #ffffff;
    }
    p {
      font-family: "Lato";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      max-width: 208px;
      padding-bottom: 30px;
      color: #ffffff;
      &:nth-child(3) {
        max-width: 162px;
      }
    }
  }

  &__nav {
    padding-top: 60px;
    padding-bottom: 75px;
    h2 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
      padding-bottom: 15px;
      border-bottom: 1px solid #ffffff;
    }
    nav {
      li {
        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 37px;
        color: #ffffff;
        padding-bottom: 18px;
      }
    }
  }
}

footer {
  background-color: #919ba6;
}
